<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100{% if page.layout == 'home-infographic' %} home-page{% endif %}{% if page.layout == 'about' %} layout-about{% endif %}">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-nav.html %}
    {% unless page.hide_collection_banner %}{% include collection-banner.html %}{% endunless %}
    <main id="maincontent" role="main" class="flex-shrink-0">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>